*{
    padding: 0px;
    margin: 0px;
}
body{
    box-sizing: border-box;
}

.main-header{
    margin: 20px;
   display: flex;
   justify-content: center;
   flex-direction: wrap;
}
.content-section{
   display: flex;
   justify-content: center;
   flex-direction: wrap;
}

.input-section{
    margin: 30px;
   display: flex;
   justify-content: space-around;

}